.main-heading-h1 {
  opacity: 0;
  font-size: 2rem;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 4rem;
}

#trusted-span {
  color: rgb(147, 92, 147);
}

.search-div {
  opacity: 0;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container {
  width: auto;
}

.search-container form {
  display: flex;
  height: 40px;
  width: 60vw;
}

.search-container input {
  height: 60px;
  flex-basis: 90%;
  border-radius: 1rem 0 0 1rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.12);
  border: none;
  color: white;
  font-size: 1rem;
}

.search-container button {
  flex-basis: 10%;
  height: 60px;
  border-radius: 0 1rem 1rem 0;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  border: none;
}

.search-container button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
  cursor: pointer;
}

.search-container ::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.02rem;
  text-align: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@media (max-width: 480px) {
  .main-heading-h1 {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  .search-container form {
    width: 80vw;
    height: 35px;
  }

  .search-container input {
    flex-basis: 80%;
  }

  .search-container button {
    flex-basis: 20%;
  }
}
