nav {
  height: 60px;
  width: auto;
  background-color: #ffffff1f;
  border-radius: 2rem;
  margin-top: 1rem;
}

.Landing-h1 {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 16rem;
  font-size: 6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  opacity: 0;
}

.main-outer-navbar {
  padding-left: 2rem;
  padding-right: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.1rem;
  height: 100%;
}

.logo-container {
  font-size: 1.4rem;
}

.navlinks-container {
  width: auto;
}

.navlinks-container ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
}

.navlinks-container li {
  list-style: none;
}

.Nav-links {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.Nav-links:hover {
  color: white;
  cursor: pointer;
}

.navlinks-container li:hover {
  color: rgba(255, 255, 255, 0.9);
}

.Hamburger {
  display: none;
  cursor: pointer;
}

@media (min-width: 481px) and (max-width: 1024px) {
  .navlinks-container ul {
    gap: 1.5rem;
  }
}

@media (max-width: 480px) {
  nav {
    margin-left: -0.8rem;
    transform: scale(0.9);
  }
  .main-outer-navbar {
    width: 110%;
  }
  .Landing-h1 {
    width: auto;
    text-align: center;
    position: fixed;
  }
  .logo-container {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .navlinks-container ul {
    padding-top: 2rem;
    margin: 0;
    padding-left: 2rem;
    gap: 2rem;
    width: 300px;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    background-color: black;
    position: fixed;
    left: -100%;
    top: -20%;
    height: 100vh;

    transition: all 0.3s ease-in-out;
  }

  .navlinks-container li {
    color: white;
  }

  .Hamburger {
    display: block;
    position: absolute;
    right: 2rem;
  }

  .navlinks-container ul.activeMenu {
    top: -20%;
    left: -3%;
    z-index: 100;
  }
}
