nav {
  height: 60px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 2rem;
  margin-top: 1rem;
}

.Landing-h1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-190px, -120px);
  font-size: 6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  opacity: 0;
}

.main-outer-navbar {
  padding-left: 2rem;
  padding-right: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.1rem;
  height: 100%;
}

.logo-container {
  font-size: 1.4rem;
}

.navlinks-container {
  width: auto;
}

.navlinks-container ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
}

.navlinks-container li {
  list-style: none;
}

.Nav-links {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.Nav-links:hover {
  color: white;
  cursor: pointer;
}

.navlinks-container li:hover {
  color: rgba(255, 255, 255, 0.9);
}

.search-container {
  margin-left: 4rem;
  width: 450px;
}

.search-container input {
  height: 40px;
  width: 80%;
  border-radius: 1rem 0 0 1rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.12);
  border: none;
  color: white;
  font-size: 1rem;
}

.Hamburger {
  display: none;
  cursor: pointer;
}

.search-container button {
  width: 20%;
  height: 40px;
  border-radius: 0 1rem 1rem 0;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  border: none;
}

.search-container button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
  cursor: pointer;
}

.search-container ::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.02rem;
  text-align: left;
}

@media (min-width: 481px) and (max-width: 1024px) {
  .navlinks-container ul {
    gap: 1.5rem;
  }
}

@media (max-width: 480px) {
  .logo-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navlinks-container ul {
    padding-top: 2rem;
    margin: 0;
    padding-left: 2rem;
    gap: 2rem;
    width: 300px;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    background-color: black;
    position: fixed;
    left: -100%;
    top: 0%;
    height: 100vh;

    transition: all 0.3s ease-in-out;
  }

  .navlinks-container li {
    color: white;
  }

  .Hamburger {
    display: block;
  }

  .navlinks-container ul.activeMenu {
    left: 0%;
  }
}
