body {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle at top right, #30184d, #000000 65%);
  color: white;
  font-family: "inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  color: rgba(255, 255, 255, 0.1);
}

button :hover {
  color: black;
}

section {
  height: 100vh;
}
